@import "tailwindcss";

@theme {
  --color-primary: #F5385D;
  --color-primary-dark: #d81f44;
}
.color-test{
  color: #d81f44;
}
input[type = "email"], input[type = "text"], input[type = "password"], textarea {
  @apply w-full border border-gray-300 my-1 rounded-xl px-3 py-1
}

textarea {
  height: 120px;
}

button.primary {
  @apply bg-primary hover:bg-primary-dark duration-300 text-white w-full rounded-xl p-2
}